{{#each trabajos}}
  <div class="list-item">
    <h3>Título: {{titulo}}</h3>
    <p>Descripción: {{descripcion}}</p>
    <p>Empresa: {{empresa}}</p>
    <p>Tecnologías: {{tecnologias}}</p>
  </div>
{{/each}}