<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>Portfolio</h1>
    </header>
    <main>
        <div class="container">
            <section>
                <h2>Bienvenido a nuestro Portfolio</h2>
                <p>Este es un lugar donde compartimos nuestros proyectos de equipo.</p>
            

            
                <h2>Equipo</h2>
                {{> equipo}}
            

            
                <h2>Trabajos del Equipo</h2>
                {{> trabajos}}
            </section>
        </div>
    </main>
</body>
</html>



